:root {
  --branding-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: bold;
  padding: 10px 10px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 23px;
}
.haiku {
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-left: 100px;
  padding-left: 100%;
  padding-top: 5px;
  margin-right: 10px;
  border: 5px solid #847c96;
  border-radius: 10px;
  background-color: var(--branding-color);
}
img {
  max-width: 100%;
  border: 5px solid #847c96;
  border-radius: 10px;
}

.uniform-size {
  height: 200px;
  width: 75%;
  object-fit: cover;
  text-align: center;
}

p {
  padding: 10px;

  color: rgba(0, 0, 0, 0.6);
}

.thank-you {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn {
  border: 2px solid #847c96;
}
a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: inline;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: var(--branding-color);
}
nav li a {
  display: inline-block;
  font-size: 20px;
  transition: transform 0.3s ease;
}
nav li a:hover {
  color: rgb(37, 33, 66);
  transform: scale(1.2);
}
nav li.active a {
  color: purple;
  font-size: 25px;
}

.light-bulb {
  height: 230px;
  width: 75%;
}

.email-link a {
  padding-bottom: 15px;
  margin: 10px;
}
.email-link a,
.social-links a {
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  color: rgb(222, 199, 222);
}
.email-link a:hover {
  color: var(--branding-color);
  background-color: rgb(222, 199, 222);
  border: 3px solid gray;
  border-radius: 5px;
}
.social-links a:hover {
  color: var(--branding-color);
  background-color: rgb(222, 199, 222);
  padding: 10px 10px;
  border: 3px solid gray;
  border-radius: 5px;
}

.contact {
  padding: 20px;
  margin: 30px;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    width: 100%;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .haiku {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
