:root {
  --branding-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: bold;
  padding: 20px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 23px;
}
.haiku {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: start;
  background-color: var(--branding-color);
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 0;
}
img {
  max-width: 100%;
  border: 5px solid #847c96;
}
.thank-you {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f9f7fe;
}
.btn {
  border: 2px solid #847c96;
}
a {
  text-decoration: none;
  color: black;
}
nav ul {
  display: inline;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

  background-color: var(--branding-color);
}
nav li a:hover {
  color: purple;
}
nav li.active a {
  color: purple;
}
.email-link a {
  padding-bottom: 15px;
  margin: 10px;
}
.email-link a,
.social-links a {
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  color: rgb(222, 199, 222);
}
.email-link a:hover {
  color: var(--branding-color);
  background-color: rgb(222, 199, 222);
  border: 3px solid gray;
  border-radius: 5px;
}
.social-links a:hover {
  color: var(--branding-color);
  background-color: rgb(222, 199, 222);
  padding: 10px 10px;
  border: 3px solid gray;
  border-radius: 5px;
}

img {
  background-color: #847c96;
}

.contact {
  padding: 20px;
  margin: 30px;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    width: 100%;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
